.submit{


}

.userName{
    
}



.gradient-custom {
  
    background: #6a11cb;
   
    background: -webkit-linear-gradient(to right, rgb(169, 145, 194), rgba(37, 117, 252, 1));
   
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

p{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}

header{
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
}



