.urlTable{
    width: 900px;
    background-color: lightblue;
    border-radius: 15%;
    padding: 1.5rem 2rem;
    margin-top: 3rem;
    color: black;
}

.urlTitle{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}


