.urlTable{
    width: 900px;
    background-color: white;
    border-radius: 15%;
    padding: 1.5rem 2rem;
    margin-top: 3rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.urlTitle{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.save{
    background-color: rgb(56, 147, 47) !important;
    color: white !important;
    border-radius: 40px;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.full-hist{
    background-color: rgba(147, 47, 47, 0.705) !important;
    color: white !important;
    border-radius: 40px;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


