.rename-btn{
    background-color: rgba(53, 111, 199, 0.692); 
    border-radius: 35px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    font-size: 18px;
}

.rescan-btn{
    background-color: rgba(24, 198, 62, 0.88); 
    border-radius: 35px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    font-size: 18px;
}

.delete-btn{
    background-color: rgba(255, 0, 0, 0.664); 
    border-radius: 35px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    font-size: 18px;
}

.save-btn{
    background-color: rgba(24, 198, 62, 0.88); 
    border-radius: 35px;
    color: rgb(255, 255, 255);
    margin-right: 2px;
    margin-left: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    font-size: 18px;
}

.saved-row{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 475px;
    max-width: 300px;
    text-align: left;
}

.recent-row{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 700px;
    text-align: left;
    max-width: 300px;
    font-size: 12px;
}

.rename-input-group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.renameInvisible {
    display: none;
}

.renameVisible {
    display: flex;
    align-items: center;
}
.saved-row,
.recent-row,
.deleted-row {
    display: flex;
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 1rem;
    gap: 0.5rem;
}

.deleted-row label {
    font-size: 20px;
    flex-grow: 1;
    min-width: 300px;
    max-width: 300px;
    text-align: left;
}
.saved-row label {
    font-size: 20px;
    flex-grow: 1;
    min-width: 250px;
    max-width: 300px;
}
.recent-row label {
    font-size: 20px;
    flex-grow: 1;
    min-width: 250px;
    max-width: 300px;

}

.fieldid{
    background-color: #ffffff;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}